@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;

}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #1e88e5, #1565c0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    color: #1565c0;
}

.subtitle {
    color: #1565c0;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #1565c0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1565c0;
    transform: scale(1.03);
    transition: 0.3s;
}


.register-link {
    margin-top: 15px;
    font-size: 14px;
}
