@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0d47a1, #1976d2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #e3f2fd;
    margin-bottom: 40px;
}

.card-group {
    display: flex;
    gap: 25px;
}

.card {
    width: 240px;
    padding: 30px 20px;
    background-color: white;
    color: #0d47a1;
    border-radius: 14px;
    text-decoration: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    text-align: center;
}

.card img {
    width: 90px;
    height: auto;
    margin-bottom: 18px;
}


.card h3 {
    margin-bottom: 8px;
    font-size: 20px;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
